html {
    font-family: sans-serif;
    background: #f7f0e0;
    color: #343434;
}

body {
    max-width: 80em;
}

table {
    border-spacing: 0.5em;
}

.chess-icon {
    font-size: 2em;
}

td {
    background: #dad6bf;
    padding: 1em;
    border-radius: 5px;
}

.endpoint {
    background: #b8b5a2;
    color: rgb(84 84 68);
    text-decoration: none;
    font-weight: 600;
    padding: 0 1em;
    text-align: left;
    cursor: pointer;
}

.endpoint:hover {
    background: #a3a08f;
    color: rgb(236, 236, 236);
}

.method {
    font-size: smaller;
    padding-bottom: .5em;
    color: #7076bf;
}

.description {
    font-weight: 800;
    display: block;
    padding: 0 0 0.25em 0;
}

label {
    color: #694d01;
}

input,
textarea {
    display: block;
    width: 90%;
    max-width: 70em;
    margin: 0.5em 0 0 0;
    padding: 0.25em;
}

textarea {
    height: 20em;
    padding: 1em;
}

.input {
    margin: 1em 0;
}

.box {
    border-radius: 5px;
    background: #dad6bf;
    padding: 0.5em 2em 2em;
    margin: 1em;
}

button {
    background-color: #786907;
    border-radius: 5px;
    border-style: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    height: 30px;
    width: 60px;
    margin-left: -4px;
}

button:hover {
    opacity: 0.8;
}

button:active {
    background-color: #373003;
}

#response {
    color: #4e3e15;
}

code {
    background-color: #e8e0cb;
    border-radius: 5px;
    padding: 0.05em;
}

.ws {
    display: none;
}

.row {
    width: min-content;
    display: flex;
    flex-direction: row;
    gap: 0;
}

#game {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.light {
    background-color: #f7f0e0;
}

.light:hover {
    background-color: #e1dacd;
}

.dark {
    background-color: #b8b5a2;
}

.dark:hover {
    background-color: #838173;
}

.square {
    display: flex;
    font-size: 4vw;
    justify-content: center;
    aspect-ratio: 1;
    width: 5vw;
    cursor: pointer;
}

.alert {
    display: flex;
    background-color: rgba(74, 72, 68, 80%);
    color: rgba(255, 255, 255, 80%);
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: .5em;
    margin: .05em 0 .05em 0;
    overflow: hidden;
    transition: all 1s ease-in-out;
}

#alerts {
    position: sticky;
    top: 10px;
}

#reverse {
    margin-left: 3em;
    font-size: 2em;
    cursor: pointer;
}


@media screen
and (max-width: 1200px) {
    .square {
        width: 6vw;
        font-size: 5vw;
    }
}

@media screen
and (max-width: 960px) {
    .square {
        width: 7vw;
        font-size: 6.5vw;
    }
}

@media screen
and (max-width: 600px) {
    .square {
        width: 9vw;
        font-size: 8vw;
    }
}

.promo {
    text-decoration: none;
    color: rgba(255, 255, 255, 80%);
}

.promo:hover {
    color: #b8b5a2;
    cursor: pointer;
}

.promo:active {
    color: #7076bf;
}

.dialog {
    background-color: rgba(74, 72, 68, 80%);
    border-radius: .5em;
    padding: .2em;
}

.currPlayer {
    background-color: darkolivegreen;
    padding: .1em;
    margin: .1em;
    border-radius: 3px;
    width: min-content;
    min-width: 10em;
    color: #e1dacd;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.buttons {
    width: max-content;
    padding: .2em .4em;
    margin: .1em;
}